@import "tailwindcss";

@theme {
    --color-primary-white: #FFFFFF;
    --color-primary-black: #000000;
    --color-green-800: #24554A;
    --color-green-600: #3E7467;
    --color-green-500: #458D7E;
    --color-green-300: #90D4C6;
    --color-green-svg: #2C7566;
    --color-grey-950: #24303E;
    --color-grey-600: #5B636D;
    --color-grey-550: #808397;
    --color-grey-400: #A7AAAD;
    --color-blue-950: #052C3B;
    --color-blue-800: #19536C;
    --color-red-400: #FE7766;
    --clor-yellow-500: #FAD400;
}

@layer utilities {
    .text-preset-1 {
        @apply text-[56px] leading-[125%] tracking-[9px];
    }
    .text-preset-2 {
        @apply text-[42px] leading-[125%] tracking-[6px];
    }
    .text-preset-3 {
        @apply text-[40px] leading-[125%] tracking-normal;
    }
    .text-preset-4 {
        @apply text-[32px] leading-[125%] tracking-normal;
    }
    .text-preset-5 {
        @apply text-[28px] leading-[125%] tracking-normal;
    }
    .text-preset-6 {
        @apply text-[20px] leading-[125%] tracking-[4px];
    }
    .text-preset-7 {
        @apply text-[18px] leading-[125%] tracking-normal;
    }
    .text-preset-8 {
        @apply text-[15px] leading-[165%] tracking-[1px];
    }
    .text-preset-9 {
        @apply text-[20px] leading-[125%] tracking-normal font-semibold;
    }
    .text-preset-10 {
        @apply text-[18px] leading-[165%] tracking-normal font-semibold;
    }
    .text-preset-11 {
        @apply text-[16px] leading-[170%] tracking-normal font-semibold;
    }
    .text-preset-12 {
        @apply text-[14px] leading-[180%] tracking-normal font-semibold;
    }
}